<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="Garble.Android">
	<uses-sdk />
	<application android:label="Garble.Android"></application>
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
</manifest>